h1.main-title {
	margin: 20px 0px;
}

button.movie-delete-button {
	float: right;
}

h3.movie-title {
	display: inline;
}

#searchBar {
	width: 75%;
	margin: 20px auto;
}

div.movie-block {
	margin: 20px 20px;
}

img.movie-poster {
	width: 200px;
	height: 300px;
	margin: 0px 20px;
}